# Ignoriere-Ordner
model/
backup_db/

# Ignoriere Modell-Files/Database-Files
*.tflite
*.db
debug_log.txt
generate_pdf.py
*.wav
python-3.10.11-amd64.exe

*.db-shm
*.db-wal
birdweather.json
birdweather_queue/
blocklist-log.txt
identified_errors.txt