# Ignoriere-Ordner
model/
backup_db/
birdweather_queue/

# Ignoriere Modell-Files/Database-Files
birdweather.json
debug_log.txt
generate_pdf.py
missing_bird_pics.txt
blocklist-log.txt
release_notes.txt
python-3.10.11-amd64.exe

*.wav
*.db-shm
*.db-wal
*.tflite
*.db
